*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:var(--font-principal);
}

:root{
  --font-cursiva:'Dancing Script', cursive;
  --font-principal:'Roboto', sans-serif;
  --color1:#FE6A00;
  --color2:rgb(243, 132, 12);
  --color3:#FF9605;
}
.header{
  background-color:#211e1e;
  height:15vh;
  border-bottom:4px solid var(--color3);
  
}
.header h1{
  color:#ffee00;
  
  font-family: var(--font-principal);
  font-size:1.8rem;
  padding-top:10px;
  padding-left:10px;
  
  
  
}
.header h2{
  font-family:var(--font-cursiva);
  padding-left:10px;
  font-size:1.2rem;
  margin-top:10px;
  padding-bottom:20px;
  color: #FFF;
  
}
.content{
  margin-top:20px;
  width:98%;
  margin:0 auto;
  padding:10px;
  background-color: #ffee00;
  border-bottom:4px solid #781C05;
  
}
.content h1{
  font-family:var(--font-cursiva);
  color:#781C05;
  text-align: center;
  
}
.content h2{
  font-family:var(--font-principal);
  color: #781C05;
  text-align: center;
  padding-bottom:20px;
}
.content p{
  font-family:var(--font-principal);
  color: #781C05;
  text-align: center;
}

.image{
  width:100%;
  
  
}
.image img{
  padding-top:20px;
  width:100%;
  
}
.image p{
  font-size:12px;

}
.delivery{
  margin-top:30px;
  width:100%;
  text-align: center;
  color:#781C05;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.287) ;
  border-radius:4px;
  
  
}
.delivery h3{
  background-color:#FFF;
  padding-bottom:20px;
  margin-top:20px;
  padding-top: 15px;
  
}
.delivery .material-icons{
  font-size:100px;
  padding-top:30px;
}